/* Sidebar Styles */
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  /*   left: -100%; */
  /*   padding: 0.5rem; */
  width: 185px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*   gap: 1.5rem; */
  border-right: 1px solid var(--text-clr-50);
  /*   overflow-x: auto; */
  /*   overflow-y: hidden; */
  background: var(--bg-component);
  user-select: none;
  /*   transform: translateX(-100%);
    transition: transform 0.16s ease-out; */
}

#sidebar #logo {
  padding: 1rem;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid var(--text-clr-50); */
}

#sidebar #logo #logo-image {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

#sidebar #logo #logo-image svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#sidebar #logo #logo-name {
  width: calc(100% - 32px);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: start;
  justify-content: center;
}

#sidebar #logo #logo-name h3 {
  font-size: 0.793rem;
  font-weight: 700;
  text-align: left;
  color: var(--text-clr-950);
  line-height: 0.537rem;
}

#sidebar #logo #logo-name p {
  font-size: 0.493rem;
  font-weight: 500;
  text-align: left;
  color: var(--text-clr-950);
  line-height: 0.537rem;
}

#sidebar #logo #logo-name p a,
#sidebar #logo #logo-name p a svg {
  text-decoration: none;
  color: var(--accent-clr-700);
}

#sidebar #logo #logo-name p a svg {
  width: 8px;
  height: 8px;
  object-fit: contain;
}

#sidebar #sidebar-hide-btn {
  display: none;
}

#sidebar #navbar {
  padding: 0.5rem;
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar #navbar i {
  font-size: 0.975rem;
  font-weight: 300;
}

#sidebar #navbar .group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#sidebar #navbar .group .title {
  /* padding-left: 0.573rem; */
  padding-left: 0.5rem;
  font-size: 0.531rem;
  font-weight: 500;
  color: var(--text-clr-500);
}

#sidebar #navbar .group a,
#sidebar #navbar .group .menu .menu-item {
  padding: 0.35rem 0.5rem;
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text-clr-950);
  border-radius: var(--round-md);
}

#sidebar #navbar .group a:hover,
#sidebar #navbar .group .menu .menu-item:hover {
  background: var(--accent-clr-700);
  cursor: pointer;
}

/* #sidebar #navbar .group a:active,
#sidebar #navbar .group .menu .menu-item:active {
  background: var(--accent-clr-700);
} */

#sidebar #navbar .group a.active,
#sidebar #navbar .group .menu .menu-item.active {
  background: var(--accent-clr-700);
}

#sidebar #navbar .group a.active .left p,
#sidebar #navbar .group a.active .left svg,
#sidebar #navbar .group .menu .menu-item.active .left p,
#sidebar #navbar .group .menu .menu-item.active .left svg {
  color: #fff;
}

#sidebar #navbar .group a .left,
#sidebar #navbar .group .menu .menu-item .left,
#sidebar #navbar .group .menu .menu-item .right {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

#sidebar #navbar .group a .left,
#sidebar #navbar .group .menu .menu-item .left {
  justify-content: left;
}

#sidebar #navbar .group .menu .menu-item .right {
  justify-content: right;
}

#sidebar #navbar .group a .left p,
#sidebar #navbar .group .menu .menu-item .left p {
  font-size: 0.713rem;
  font-weight: 600;
  text-align: left;
  line-height: 32px;
  color: var(--text-clr-600);
}

#sidebar #navbar .group a:hover .left p,
#sidebar #navbar .group .menu .menu-item:hover .left p,
#sidebar #navbar .group a:active .left p,
#sidebar #navbar .group .menu .menu-item:active .left p {
  /* color: var(--text-clr-950); */
  color: #fff;
}

/* #sidebar #navbar .group a .left i,
  #sidebar #navbar .group .menu .menu-item .left i {
    text-align: left;
    font-size: 0.813rem;
    line-height: 32px;
  } */

#sidebar #navbar .group a .left svg,
#sidebar #navbar .group .menu .menu-item .left svg {
  width: 16px;
  height: 16px;
  object-fit: contain;
  color: var(--text-clr-600);
}

#sidebar #navbar .group a:hover .left svg,
#sidebar #navbar .group .menu .menu-item:hover .left svg,
#sidebar #navbar .group a:active .left svg,
#sidebar #navbar .group .menu .menu-item:active .left svg {
  /* color: var(--text-clr-950); */
  color: #fff;
}

#sidebar #navbar .group .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar #navbar .group .menu .menu-item .right .dropdown {
  position: relative;
  width: 8px;
  height: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transform: rotate(0deg);
  transition: transform 0.2s ease-out;
}
#sidebar #navbar .group .menu .menu-item .right .dropdown .line {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--text-clr-600);
  border-radius: 2px;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
}

#sidebar #navbar .group .menu .menu-item:hover .right .dropdown .line,
#sidebar #navbar .group .menu .menu-item.active .right .dropdown .line {
  /* background-color: var(--text-clr-950); */
  background-color: #fff;
}

#sidebar #navbar .group .menu .menu-item .right .dropdown .horizontal {
  width: 100%;
  height: 1px;
}

#sidebar #navbar .group .menu .menu-item .right .dropdown .vertical {
  width: 1px;
  height: 100%;
}

#sidebar #navbar .group .menu .menu-item .right .dropdown.expand .vertical {
  transform: translate(-50%, -50%) rotate(90deg);
}

#sidebar #navbar .group .menu .submenu {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#sidebar #navbar .group .menu .submenu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#sidebar #navbar .group .menu .submenu ul li {
  width: 100%;
  text-decoration: none;
}

#sidebar #navbar .group .menu .submenu ul li a {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  font-size: 0.651rem;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  background: none;
}

#sidebar #navbar .group .menu .submenu ul li a::before {
  position: absolute;
  top: 50%;
  left: 9.5%;
  content: '';
  width: 5px;
  height: 5px;
  background: var(--text-clr-950);
  border-radius: var(--round-full);
  transform: translate(-50%, -50%);
}

#sidebar #navbar .group .menu .submenu ul li a:hover {
  color: var(--accent-clr-700);
  cursor: pointer;
}

#sidebar #navbar .group .menu .submenu ul li a:hover::before {
  background: var(--accent-clr-700);
}

#sidebar #mode-toggler {
  padding: 1px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: calc(100% - 2rem);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--text-clr-50);
  border-radius: var(--round-lg);
  transform: translateX(-50%);
  overflow: hidden;
}

#sidebar #mode-toggler #light-mode,
#sidebar #mode-toggler #system-default-mode,
#sidebar #mode-toggler #dark-mode {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--round-md);
}

#sidebar #mode-toggler #light-mode svg,
#sidebar #mode-toggler #system-default-mode svg,
#sidebar #mode-toggler #dark-mode svg {
  width: 16px;
  height: 16px;
  object-fit: contain;
  color: var(--text-clr-600);
}

#sidebar #mode-toggler #light-mode:hover,
#sidebar #mode-toggler #system-default-mode:hover,
#sidebar #mode-toggler #dark-mode:hover {
  cursor: pointer;
}

#sidebar #mode-toggler #light-mode:hover svg,
#sidebar #mode-toggler #system-default-mode:hover svg,
#sidebar #mode-toggler #dark-mode:hover svg {
  color: var(--text-clr-950);
}

#sidebar #mode-toggler #light-mode.active,
#sidebar #mode-toggler #system-default-mode.active,
#sidebar #mode-toggler #dark-mode.active {
  background: var(--bg-icon);
}

#sidebar #mode-toggler #light-mode.active svg,
#sidebar #mode-toggler #system-default-mode.active svg,
#sidebar #mode-toggler #dark-mode.active svg {
  color: var(--text-clr-950);
}
