.container {
  padding: 11px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  background: var(--bg-component);
  border-radius: var(--round-md);
}

.container h3 {
  font-size: 0.931rem;
  font-weight: 600;
  text-align: left;
  color: var(--text-clr-950);
}

.container .action-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .action-bar .filter {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: left;
}

.container .action-bar .filter select {
  padding: 5px 15px;
  height: 32px;
  outline: none;
  color: var(--text-clr-950);
  font-size: 0.731rem;
  font-weight: 500;
  text-align: center;
  background: var(--text-clr-50);
  border: 1px solid var(--text-clr-100);
  border-radius: var(--round-md);
  transition: border-color var(--transition-time) ease-out;
}

.container .action-bar .filter select:focus {
  border-color: var(--accent-clr-700);
}

.container .action-bar a {
  padding: 5px 15px;
  width: fit-content;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  background: var(--accent-clr-700);
  color: #fff;
  border-radius: var(--round-md);
  transition: background var(--transition-time) ease-out;
}

.container .action-bar a:hover {
  background: var(--accent-clr-800);
  cursor: pointer;
}

.container .action-bar a svg {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.container .action-bar a p {
  font-size: 0.831rem;
  font-weight: 600;
  text-align: center;
}

/* Results Table */
#table-container {
  width: 100%;
  /* padding: 16px; */
  /*   overflow-x: auto; */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

table th,
table td {
  text-align: left;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: var(--round-md);
}

table thead tr:first-child th:last-child {
  border-top-right-radius: var(--round-md);
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--round-md);
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--round-md);
}

table tbody tr:nth-child(even) {
  background: var(--text-clr-50);
}

table th {
  padding: 0.5rem;
  font-size: 0.613rem;
  font-weight: 700;
  color: var(--text-clr-950);
  background-color: var(--text-clr-200);
}

table td {
  padding: 0.3rem 0.5rem;
  font-size: 0.731rem;
  font-weight: 500;
  color: var(--text-clr-900);
}

/* Action link */
.action-link {
  padding: 5px 15px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background: var(--text-clr-100);
  border-radius: var(--round-md);
  transition: background var(--transition-time) ease-out;
  color: var(--text-clr-900);
}

.action-link p {
  font-size: 0.731rem;
  font-weight: 600;
  text-align: center;
}

.action-link svg {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.action-link:hover {
  background: var(--accent-clr-700);
  color: #fff;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  table th,
  table td {
    padding: 0.5rem;
  }
}
