{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{% block title %} {% endblock %}</title>

    <!-- Remix Icon CDN -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" media="all" onload="this.media='all'">


    <!-- CSS Styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <!-- HTML heads of different pages other than base.html -->
    {% block htmlhead %} {% endblock htmlhead %}
  </head>
  <body class="light-mode">
    <!-- HEADER -->
    {% include "header.html" %}

    <!-- SIDEBAR -->
    {% include "sidebar.html" %}

    <!-- Main Content -->
    <main id="main-content">{% block content %} {% endblock %}</main>
  </body>
</html>
