{% load static %}
<!-- Confirmation -->
<div id="confirmation" class="confirmation">
    <div class="dialog">
        <h3>Are you sure to proceed?</h3>
        <p>This action is irreversible. Once you take an action, it cannot be modified later. Please, confirm before you proceed.</p>
        <div class="action">
            <span class="secondary" id="close-btn">Go Back</span>
            <button type="button" class="primary">Proceed</button>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<script src="{% static 'js/confirmation.js' %}" type="text/javascript"></script>

<!-- CSS -->
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/confirmation.css' %}" />
{% endblock %}
