{% load static %}
<!-- HEADER -->
{% block content %}
<header>
  <div class="left">
    <h3>Dashboard</h3>
    <div class="breadcrumb">
      <p>Home &#10095; Dashboard</p>
    </div>
  </div>
  <div class="right">
    <div id="notification-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-bell"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
        />
        <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
      </svg>
    </div>
    <div id="profile">
      {% if not user.profile_pic %}
      <img
        src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjA2ODA4NTB8&ixlib=rb-4.0.3&q=85"
        alt="Profile Photo."
      />
      {% else %}
      <img src="{{ user.profile_pic.url }}" alt="Profile Photo." />
      {% endif %}
    </div>
  </div>

  <!-- Profile Modal -->
  <div id="profile-modal">
    <div id="info">
      <div id="profile-photo">
        {% if not user.profile_pic %}
        <img
          src="https://images.unsplash.com/photo-1718785461588-4b0b4b4ef37e?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjA4NjEyMjd8&ixlib=rb-4.0.3&q=85"
          alt="Profile Photo."
        />
        {% else %}
        <img src="{{ user.profile_pic.url }}" alt="Profile Photo." />
        {% endif %}
      </div>
      <div id="desc">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        {% if user.user_type == '1' %}
        <p>Admin</p>
        {% elif user.user_type == '2' %}
        <p>Teacher</p>
        {% else %}
        <p>Student</p>
        {% endif %}
      </div>
    </div>
    <div id="links">
      <ul>
        <li>
          <a href="{% url 'profile' %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-user-hexagon"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z" />
              <path
                d="M6.201 18.744a4 4 0 0 1 3.799 -2.744h4a4 4 0 0 1 3.798 2.741"
              />
              <path
                d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
              />
            </svg>
            <p>My profile</p>
          </a>
        </li>

        <li>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-wechat"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M16.5 10c3.038 0 5.5 2.015 5.5 4.5c0 1.397 -.778 2.645 -2 3.47l0 2.03l-1.964 -1.178a6.649 6.649 0 0 1 -1.536 .178c-3.038 0 -5.5 -2.015 -5.5 -4.5s2.462 -4.5 5.5 -4.5z"
              />
              <path
                d="M11.197 15.698c-.69 .196 -1.43 .302 -2.197 .302a8.008 8.008 0 0 1 -2.612 -.432l-2.388 1.432v-2.801c-1.237 -1.082 -2 -2.564 -2 -4.199c0 -3.314 3.134 -6 7 -6c3.782 0 6.863 2.57 7 5.785l0 .233"
              />
              <path d="M10 8h.01" />
              <path d="M7 8h.01" />
              <path d="M15 14h.01" />
              <path d="M18 14h.01" />
            </svg>
            <p>Support</p>
          </a>
        </li>
        <span></span>
        <li>
          <a href="{% url 'logout' %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-logout"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
              />
              <path d="M9 12h12l-3 -3" />
              <path d="M18 15l3 -3" />
            </svg>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- JAVASCRIPT -->
<script src="{% static 'js/header.js' %}" type="text/javascript"></script>
{% endblock %}

<!-- CSS -->
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
{% endblock %}
