{% load static %}
<!-- HEADER -->
{% block content %}
 <header>
    <div class="left">
    <h3>Dashboard</h3>
</div>
<div class="right">
    <div id="notification-icon">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-bell"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
    </div>
    <div id="profile">
        <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjA2ODA4NTB8&ixlib=rb-4.0.3&q=85" alt="Profile Photo.">
    </div>
</div>
 </header>
 {% endblock %}

 <!-- CSS -->
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
{% endblock %}