{% extends "base.html" %} {% load static %} {% block htmlhead %}
<!-- CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/users/profile.css' %}"
/>
{% endblock htmlhead %} {% block content %}
<!-- My Profile -->
<div id="my-profile">
  <div class="image-section">
    <div id="cover-photo">
      <img
        src="https://images.unsplash.com/photo-1642104704074-907c0698cbd9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjEzMjI3NTF8&ixlib=rb-4.0.3&q=85"
        alt="Cover Photo"
      />
    </div>
    <div class="profile-details">
      <div id="profile-photo">
        {% if not user.profile_pic %}
        <img
          src="https://images.unsplash.com/photo-1718002127646-0904604dfb8c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjA5NDE3OTN8&ixlib=rb-4.0.3&q=85"
          alt="Profile Photo."
        />
        {% else %}
        <img src="{{ user.profile_pic.url }}" alt="Profile Photo." />
        {% endif %}
      </div>
      <div class="profile-section">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        {% if user.user_type == '1' %}
        <p>Admin</p>
        {% elif user.user_type == '2' %}
        <p>Teacher</p>
        {% else %}
        <p>Student</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="user-details">
    <div class="group">
      <div class="sub-group">
        <h3>Username</h3>
        <p>Username is unique. It cannot be edited.</p>
      </div>
      <p>{{ user.username }}</p>
    </div>

    <div class="group">
      <div class="sub-group">
        <h3>Email Address</h3>
        <p>This is the registered email address. It cannot be changed.</p>
      </div>
      <p>{{ user.email }}</p>
    </div>

    <div class="group">
      <div class="sub-group">
        <h3>Password</h3>
        <p>For security purpose, the password is not shown here.</p>
      </div>
      <p>●●●●●●●●●</p>
    </div>

    <div class="group">
      <div class="sub-group">
        <h3>City</h3>
        <p>You can update it by visiting edit profile.</p>
      </div>
      <p>{{ user.city }}</p>
    </div>

    <div class="group">
      <div class="sub-group">
        <h3>Country</h3>
        <p>You can update it by visiting edit profile.</p>
      </div>
      <p>{{ user.country }}</p>
    </div>

    <a href="{% url 'profile-edit' %}">Edit Profile</a>
  </div>
</div>
{% endblock %}
