#calendar-container {
  padding: 16px;
  width: 60%;
  text-align: center;
  box-shadow: var(--border-clr) 0px 6px 24px 0px,
    var(--border-clr) 0px 0px 0px 1px;
  /* border: 1px solid var(--border-clr); */
  border-radius: var(--round-md);
}

#calendar-header {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#calendar-header span {
  font-size: 0.931rem;
  font-weight: 600;
  text-align: center;
  color: var(--accent-clr-700);
}

#calendar-header select {
  padding: 5px 15px;
  outline: none;
  color: var(--text-clr-950);
  font-size: 0.731rem;
  font-weight: 500;
  text-align: center;
  background: var(--text-clr-50);
  border: 1px solid var(--text-clr-100);
  border-radius: var(--round-md);
  transition: border-color var(--transition-time) ease-out;
}

#calendar-header select:focus {
  border-color: var(--accent-clr-700);
}

#calendar {
  width: 100%;
  border-collapse: collapse;
}

#calendar thead tr {
  height: 32px;
}

#calendar tbody tr {
  height: 48px;
}

#calendar th,
#calendar td {
  width: calc(100% / 7);
  border: 1px solid var(--bg-component);
}

#calendar th {
  font-size: 0.731rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-clr-500);
}

#calendar td {
  font-size: 0.931rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-clr-950);
}

#calendar th:first-child,
#calendar td:first-child {
  color: #f00;
}

#calendar td:first-child {
  background: rgba(255, 0, 0, 0.09);
}

#calendar td:hover {
  background: rgba(30, 168, 255, 0.09);
  color: var(--accent-clr-700);
  cursor: pointer;
}

#popup-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-form.hidden {
  display: none;
}

.inactive {
  visibility: hidden;
}

form {
  position: relative;
  padding: 24px;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: var(--bg-component);
  border-radius: var(--round-xl);
}

form label {
  margin-bottom: 10px;
  font-size: 0.931rem;
  font-weight: 600;
  text-align: left;
  color: var(--text-clr-950);
}

form input:read-only {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 32px;
  border: 1px solid var(--text-clr-100);
  border-radius: var(--round-md);
  outline: none;
  background: none;
  font-size: 0.731rem;
  font-weight: 500;
  text-align: left;
  color: var(--accent-clr-700);
  pointer-events: none;
}

form button[type='button'] {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  z-index: 1;
}

form button[type='button'] svg {
  width: 26px;
  height: 26px;
  object-fit: contain;
  color: var(--text-clr-500);
  transition: color var(--transition-time) ease-out;
}

form button[type='button']:hover {
  cursor: pointer;
}

form button[type='button']:hover svg {
  color: var(--accent-clr-700);
}

form button[type='submit'] {
  padding: 7px 15px;
  width: fit-content;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.731rem;
  font-weight: 600;
  text-align: center;
  border-radius: var(--round-md);
  background: var(--accent-clr-700);
  border: 1px solid var(--accent-clr-700);
  color: #fff;
  transition: background var(--transition-time) ease-out;
}

form button[type='submit']:hover {
  background: var(--accent-clr-800);
  border: 1px solid var(--accent-clr-800);
}
