/* Header Styles */
header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 16px;
    width: calc(100% - 185px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-component);
    border-bottom: 1px solid var(--text-clr-50);
}

header .left, header .right {
    height: 100%;
    display: flex;
}

header .left {
    flex-direction: column;
    align-items: start;
    justify-content: left;
}

header .left h3 {
    font-size: 0.731rem;
    font-weight: 500;
    text-align: left;
    color: var(--text-clr-950);
}

header .left .breadcrumb {
    display: flex;
}

header .left .breadcrumb p {
    font-size: 0.531rem;
    font-weight: 500;
    text-align: left;
    color: var(--text-clr-950);
}

header .right {
    gap: 8px;
    align-items: center;
    justify-content: right;
}

header .right #profile,
header .right #notification-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-icon);
    border-radius: var(--round-md);
    cursor: pointer;
    overflow: hidden;
}

header .right #profile {
    border: 2px solid var(--bg-icon);
}


header .right #profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .right #notification-icon svg {
    width: 16px;
    height: 16px;
    object-fit: contain;
    color: var(--text-clr-950);
}