/* GOOGLE Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* GLOBAL VARIABLES */
:root {
  /* Colors */
  --accent-clr-50: #f1fcf2;
  --accent-clr-100: #ddfbe0;
  --accent-clr-200: #bef4c5;
  --accent-clr-300: #8bea98;
  --accent-clr-400: #51d765;
  --accent-clr-500: #2bc542;
  --accent-clr-600: #1c9d30;
  --accent-clr-700: #1a7b29;
  --accent-clr-800: #1a6125;
  --accent-clr-900: #175022;
  --accent-clr-950: #072c0e;

  /* Border Radius */
  --round-sm: 0.125rem;
  --round-norm: 0.25rem;
  --round-md: 0.375rem;
  --round-lg: 0.5rem;
  --round-xl: 0.75rem;
  --round-2xl: 1rem;
  --round-3xl: 1.5rem;
  --round-full: 50%;

  /* Transition Time */
  --transition-time: 0.15s;
}

/* Resetting Default HTML */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

body.light-mode {
  /* ---Variables--- */
  /* Text Colors */
  --text-clr-50: #f6f6f6;
  --text-clr-100: #e7e7e7;
  --text-clr-200: #d1d1d1;
  --text-clr-300: #b0b0b0;
  --text-clr-400: #9c9c9c;
  --text-clr-500: #8c8c8c;
  --text-clr-600: #5d5d5d;
  --text-clr-700: #4f4f4f;
  --text-clr-800: #454545;
  --text-clr-900: #3d3d3d;
  --text-clr-950: #000000;

  /* Background Colors */
  --bg-clr:#eaeaea;

  /* Component Background Color */
  --bg-component:#ffffff;

  /* Icon Background Color */
  --bg-icon:#e1e1e1;
}

body.dark-mode {
  /* ---Variables--- */
  /* Text Colors */
  --text-clr-50: #292929;
  --text-clr-100: #3d3d3d;
  --text-clr-200: #464646;
  --text-clr-300: #525252;
  --text-clr-400: #656565;
  --text-clr-500: #7c7c7c;
  --text-clr-600: #989898;
  --text-clr-700: #bdbdbd;
  --text-clr-800: #dcdcdc;
  --text-clr-900: #efefef;
  --text-clr-950: #ffffff;

  /* Background Color */
  --bg-clr:#171717;

  /* Component Background Color */
  --bg-component:#000000;

  /* Icon Background Color */
  --bg-icon:#3a3a3a;
}

a,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}


/* MAIN CONTENT */
#main-content {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 5px 16px;
  width: calc(100% - 185px);
  height: calc(100% - 50px);
  background-color: var(--bg-clr);
}