#dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 7px;
}

#dashboard #dynamic {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#dashboard #static {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
